# Работа со строками в Python

## Создание строк
1. Создайте строку, содержащую ваше имя.

2. Создайте строку, состоящую из нескольких слов.

3. Создайте строку с числовыми значениями.


## Информация о строках
4. Выведите длину строки из задачи 1, используя функцию `len()`.

5. Определите тип данных строки из задачи 2, используя функцию `type()`.


## Операции со строками
6. Сделайте все буквы в строке из задачи 1 заглавными.

7. Соедините строки из задачи 2 и 3 в одну строку.


## Индексация и срезы
8. Получите первый символ строки из задачи 1.

9. Выделите подстроку из строки задачи 2, содержащую только первые три слова.


## Работа со строками
10. Посчитайте количество букв "a" в строке из задачи 1.

11. Замените все буквы "o" на "e" в строке из задачи 2.


## Логические операции
12. Проверьте, начинается ли строка из задачи 1 с буквы "J".

13. Проверьте, содержится ли слово "Python" в строке из задачи 2.


## Форматирование строк
14. Создайте строку, используя форматирование, вставив ваш возраст и имя.

15. Преобразуйте строку из задачи 1 в строку, содержащую только заглавные буквы.


## Сортировка и индексация
16. Отсортируйте символы в строке из задачи 1 в алфавитном порядке.

17. Найдите индексы всех букв "i" в строке из задачи 2.


## Уникальные значения
18. Найдите уникальные символы в строке из задачи 1.

19. Посчитайте количество повторяющихся слов в строке из задачи 2.


## Разделение и объединение строк
20. Разделите строку из задачи 1 на слова и создайте список.

21. Объедините элементы списка из задачи 20 в строку с использованием пробелов.


## Поиск и замена
22. Найдите индекс первого вхождения буквы "e" в строке из задачи 1.

23. Замените все пробелы в строке из задачи 2 на нижнее подчеркивание.


## Форматирование чисел
24. Создайте строку, вставив значение числа с плавающей точкой в формате с двумя знаками после запятой.

25. Создайте строку, выравнив число из задачи 24 по центру в строке шириной 10 символов.